nav {
    background-color: red;
    color: white;
    font-size: x-large;
    text-align: left;
    display: flex;
}

body {
    background-color: #000;

}

ul {
    color: white;
    list-style-type: none;
}
h2{
    color:white;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
}
nav {
    display: flex;
    justify-content: flex-end;
}
